.server-detail-container {
    padding: 30px;
    background-color: #f5f7fb;
    font-family: 'Arial', sans-serif;
    color: #333;
    margin-left: 250px;
    overflow-x: hidden;
    width: 1200px;
}

.server-detail-container h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 15px;
}

.server-detail-container h2 svg {
    margin-left: 8px;
    font-size: 20px;
    color: #7c7c7c;
}

.overview-section {
    margin-bottom: 40px;
}

.overview-section h4 {
    margin-top: 15px;
    font-size: 16px;
    font-weight: 400;
}

/* Stats Section */
.stats-section {
    display: flex;
    gap: 20px;
  }
  
  .stat-card {
    flex: 1;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .stat-card h4 {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
  }
  
  .stat-card p {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
  }

  .pie-chart img {
    width: 70px;
    height: 70px;
  }
