.server-detail-container {
  padding: 30px;
  background-color: #f5f7fb;
  font-family: "Arial", sans-serif;
  color: #333;
  margin-left: 250px;
  overflow-x: hidden;
  width: 1200px;
}

.server-detail-container h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 15px;
}

.server-detail-container h2 svg {
  margin-left: 8px;
  font-size: 20px;
  color: #7c7c7c;
}

.server-detail-container hr {
    margin-bottom: 30px;
}

.overview-section {
  margin-bottom: 40px;
  margin-left: 5px;
  display: flex;
  gap: 10px;
}

.server-info {
    background-color: #26262626;
    color: #363636;
    border-radius: 45px;
    min-width: 250px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    padding: 10px 20px;
}

.server-info h4 {
  font-size: 15px;
  font-weight: 400;
}

.info-header {
    font-size: 15px;
    font-weight: 700;
}

.alert-button {
    background-color: transparent;
    color: #363636;
    border-color: #f90000bb;
    border-radius: 45px;
    width: 150px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.alert-icon svg {
    width:11px;
    height: 11px;
    margin-left: 7px;
    color: #363636;
}

.alert-button:hover {
    background-color: #fff9f9;
}

/* Stats Section */
.stats-section {
  display: flex;
  gap: 20px;
}

.stat-card {
  flex: 1;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.stat-card h4 {
  font-size: 18px;
  color: #333;
  margin-bottom: 10px;
}

.stat-card p {
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
}

.pie-chart img {
  width: 70px;
  height: 70px;
}

.pie-chart p {
  font-size: 16px;
}

.logs-section {
  margin-top: 30px;
}

.logs-section h4 {
  margin-left: 10px;
  margin-bottom: 5px;
}

.logs-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  font-size: 15px;
}

.logs-table th,
.logs-table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.logs-table th {
  background-color: #f8f9fa;
}

.logs-table td {
  background-color: #fff;
}

.no-logs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
  margin-top: 20px; /* Adjust margin as needed */
}

.no-logs p {
  margin-top: 10px; /* Space between icon and text */
  font-size: 16px; /* Adjust font size */
  color: #33333397; /* Error text color */
}

.no-logs-icon {
    color: #33333397;
}
