.monitor-container {
  padding: 30px;
  background-color: #f5f7fb;
  width: 1200px;
  height: 620px;
  margin-left: 250px;
  overflow-x: hidden;
}

.monitor-container p{
  margin-left: 5px;
}

.loading-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 400px; /* Adjust height based on your design */
}

.scrollable-tbody {
  height: 403px;
  overflow-y: auto;
}

.scrollable-tbody::-webkit-scrollbar {
  width: 6px;
}

.scrollable-tbody::-webkit-scrollbar-thumb{
  background-color: #09d2f16d;
  border-radius: 4px;
}

.scrollable-tbody::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
  
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header h2 {
  display: flex;
  align-items: center;
  font-size: 24px;
  color: #333;
}

.header h2 svg {
  margin-left: 8px;
  font-size: 20px;
  color: #7c7c7c;
}

.header-actions {
  display: flex;
  gap: 15px;
}

.add-btn, .export-btn {
  padding: 8px 16px;
  border: none; 
  border-radius: 5px;
  cursor: pointer;
}

.add-btn {
  background-color: #28a745;
  color: white;
}

.add-btn:hover{
  background-color: #1b8b35;
  color: white;
}

.export-btn {
  background-color: #17a2b8;
  color: white;
}

.export-btn:hover{
  background-color: #158fa1;
  color: white
}

.filters {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}

.filters input {
  padding: 8px;
  width: 300px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.filter-btn {
  padding: 8px 16px;
  background-color: #f8f9fa;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
}

.filter-btn:hover {
  background-color: #ededed;
}

.server-table {
  width: 100%;
  border-collapse: collapse;
}

.server-table th, .server-table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.server-table th {
  background-color: #f8f9fa;
  position: sticky;
  top: 0;
  z-index: 1;
}

.server-table td {
  background-color: #fff;
}

.server-table tbody tr:hover {
  background-color: #f1f1f1;
}

.delete-icon {
  color: #9a0000;
  cursor: pointer;
}

.delete-icon:hover{
  transform: scale(1.05);
}