.monitor-container {
  padding: 28px;
  background-color: #f5f7fb;
  width: 1200px;
  height: 620px;
  margin-left: 250px;
  overflow-x: hidden;
}

.monitor-container p{
  margin-left: 5px;
}

.loading-container {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 400px; 
}

.error-message-container {
  display: flex;
  flex-direction: column; /* Ensures Lottie animation is above the error message */
  justify-content: center;
  align-items: center;
  height: calc(100vh - 400px); /* Adjust height as needed */
  text-align: center; 
}

.scrollable-tbody {
  height: 462px;
  overflow-y: auto;
}

.scrollable-tbody::-webkit-scrollbar {
  width: 6px;
}

.scrollable-tbody::-webkit-scrollbar-thumb{
  background-color: #011a327b;
  border-radius: 4px;
}

.scrollable-tbody::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
  
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header h2 {
  display: flex;
  align-items: center;
  font-size: 24px;
  color: #333;
}

.header h2 svg {
  margin-left: 8px;
  font-size: 20px;
  color: #7c7c7c;
}

.header-actions {
  display: flex;
  gap: 15px;
}

.add-btn, .export-btn {
  padding: 8px 16px;
  border: none; 
  border-radius: 5px;
  cursor: pointer;
}

.add-btn {
  background-color: #28a745;
  color: white;
}

.add-btn:hover{
  background-color: #1b8b35;
  color: white;
}

.export-btn {
  background-color: #17a2b8;
  color: white;
}

.export-btn:hover{
  background-color: #158fa1;
  color: white
}

.filters {
  display: flex;
  gap: 10px;
  margin-bottom: 12px;
}

.filters input {
  padding: 8px;
  width: 300px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.filter-btn {
  padding: 8px 16px;
  background-color: #f8f9fa;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
}

.filter-btn:hover {
  background-color: #ededed;
}

.server-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
}

.server-table th, .server-table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.server-table th {
  background-color: #f8f9fa;
  position: sticky;
  top: 0;
  z-index: 1;
}

.server-table td {
  background-color: #fff;
}

.server-table tbody tr:hover {
  background-color: #f1f1f1;
}

.delete-icon {
  color: #9a0000;
  cursor: pointer;
}

.delete-icon:hover{
  transform: scale(1.05);
}

.error-message-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 300px); 
  text-align: center;
  color: #000000; /* Optional: Change the text color to something noticeable */
}

.filter-icon {
  display: flex;
  align-items: center;
}

.custom-filter-icon {
  margin-right: 8px;
}


.filter-icon p {
  display: flex;
  align-items: center;
  color: #7c7c7c;
  font-size: 12px;
}

.no-records-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px; /* Adjust based on your layout */
  margin-top: 100px;
}

.no-records-container p{
  margin-top: 10px;
}

.no-records-icon {
  font-size: 48px; /* Adjust size */
  color: #b52e25;  /* Adjust color */
  margin-bottom: 10px;
}
